@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: #f2e8cf;
        --foreground: #1a1a1a;
        --card: #d9ead9;
        --card-foreground: #2d2d2d;
        --popover: #ffffff;
        --popover-foreground: #0a0a0a;
        --primary: #cbe2cb;
        --primary-foreground: #1a1a1a;
        --secondary: #bc4749;
        --secondary-foreground: #f4ecec;
        --accent: #ccd8cc;
        --accent-foreground: #1a1a1a;
        --input: #b1b1b1;
        --input-selected: #696969;

        --vh: 1vh;
    }

    .dark {
        --background: #1b180f;
        --foreground: #f5f5f5;
        --card: #28242b;
        --card-foreground: #f2dddd;
        --popover: #0a0a0a;
        --popover-foreground: #f5f5f5;
        --primary: #1e211e;
        --primary-foreground: #f5f5f5;
        --secondary: #bc4749;
        --secondary-foreground: #f5f5f5;
        --accent: #3c3444;
        --accent-foreground: #f5f5f5;
        --input: #ffe5d9;
        --input-selected: #ffcad4;

        --vh: 1vh;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
