@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: #e8ecf7;
        --foreground: #1a1a1a;
        --card: #d9ead9;
        --card-foreground: #2d2d2d;
        --popover: #dce6ff;
        --popover-foreground: #2d2d2d;
        --primary: #20357c;
        --primary-foreground: #1a1a1a;
        --secondary: #bcbcbc;
        --secondary-foreground: #e5e9f3;
        --accent: #41569d;
        --accent-foreground: #e8ecf7;
        --input: #41569d;
        --input-selected: #20357c;
        --ring: #41569d;
        --border: #1a1a1a;

        --gradient-start-light: #dce6ff;
        --gradient-mid-light: #b0c4ff;
        --gradient-mid2-light: #91abff;
        --gradient-end-light: #7693ff;

        .bg-gradient-radial {
            background: radial-gradient(
                circle at 50% 85%,
                var(--gradient-start-light) 10%,
                var(--gradient-mid-light) 40%,
                var(--gradient-mid2-light) 70%,
                var(--gradient-end-light) 100%
            );
        }

        .bg-blur-gradient-md {
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            -webkit-mask-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 100%
            );
        }

        .bg-blur-gradient-to-top-md {
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            -webkit-mask-image: linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 100%
            );
        }
    }

    .dark {
        --background: #13131b;
        --foreground: #f5f5f5;
        --card: #28242b;
        --card-foreground: #f2dddd;
        --popover: #1f1f29;
        --popover-foreground: #c0e0f5;
        --primary: #a3d4f4;
        --primary-foreground: #f5f5f5;
        --secondary: #434343;
        --secondary-foreground: #13131b;
        --accent: #a3d4f4;
        --accent-foreground: #13131b;
        --input: #c0e0f5;
        --input-selected: #a3d4f4;
        --ring: #a3d4f4;
        --border: #f5f5f5;

        --gradient-start: #20357c;
        --gradient-mid: #243e91;
        --gradient-mid2: #1b2f73;
        --gradient-end: #181651;

        .bg-gradient-radial {
            background: radial-gradient(
                circle at 50% 85%,
                var(--gradient-start) 10%,
                var(--gradient-mid) 40%,
                var(--gradient-mid2) 70%,
                var(--gradient-end) 100%
            );
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
